<!-- <div class="klp">
    <h1 _ngcontent-ng-c766345762="" style="color: #000; font-size: 18px; font-weight: bold;">Key Learning Point</h1>
    <div *ngFor="let message of risk_kpl;let i=index" class="message">
        <p class="klpItems"  [attr.data-text]="message">{{message}}</p>

      </div>
    
</div>  [attr.data-text]="message" -->

<div class="klp row" >
  <!-- <button (click)="back()">close</button>> -->
  <button class="btn btn-primary" (click)="exportPDF();" style="position: absolute;
  /* display: inline; */
  width: auto;
  /* float: right; */
  /* clear: both; */
  right: 5%;">Export To PDF</button>
  <div class="col-sm-11">
    <div  id="pdfTable">
    <h2 style="color: #000; ; font-size:28px;text-align: center;">Key Learning Points</h2>
   
    <div *ngFor="let message of data;let i=index" class="message" >
      <p class="klpItems" style="color: blue;">KLP {{i + 1}} : {{message}}</p>
    </div>
    </div>
   
   
    <div>
      <h2 style="color: #000; ; font-size:28px;text-align: center;">Story Related to your risks selection</h2>
      <p class="story">{{story}}</p>
    </div>
    <!-- <div class="col-sm-3"><div class="klpimage"></div></div> -->
    <h2 style="color: #000; ; font-size:28px;text-align: center;">Risks</h2>
    <div class="row">
      <div *ngFor="let message of messages;let i=index" class="col-sm-2">
        <!-- <div *ngIf="let risk of message"> -->
        <div class="riskUpdaterow " (click)="displayStory(message)"*ngIf='message.type=="user"'>
          <p style="color: blue; text-decoration: none; display: inline;" >
            {{message.domain}} - </p>
          <p style="color: blue; display:inline">{{message.message}}</p>
        </div>
      </div>
     
    </div>
  
    <!-- <a 
  href="javascript:void(0)" 
  style="cursor:pointer"
  (click)="downloadPdf('./assets/sample.pdf','your_pdf_file')">
  Download PDF
</a> -->
    <p class="story" style="font-size:18px;margin-top: 15px;">{{riskStory}}</p> 

  </div>