<h1 mat-dialog-title>Story</h1>
<mat-dialog-content>
  <p> After a 25-year relationship, a 60-year-old woman named Jane faced the breakdown of her relationship when she
    discovered her partner had another relationship. As a result, she had to learn to be independent and support herself
    financially by getting a job. However, she also had to face several risks, including the impact on her mental
    health, the worry of being negatively judged, selling her house and buying new property, and the risk of her
    ex-partner clearing out savings accounts. Additionally, her children had access to her passwords and money, and they
    had taken the side of her ex-partner.

    To overcome these challenges, the woman took several actions. She had a meeting with the bank for advice and froze
    her bank and savings accounts. She kept records of all conversations with dates and times and took screenshots of
    everything for proof. She sought help from charities such as CAB (Citizen advice) and Age UK, ensured not to share
    passwords or changed them if necessary, and met with the bank to protect and support her. She also appointed a
    lawyer for the divorce, including having a share of her ex-partner’s pension, set up new bank and insurance
    accounts, and created new wills for both parties. By taking these actions, the woman was able to overcome the
    challenges and move on with her life.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>