<div class="story">
<h1 mat-dialog-title>Story</h1>
<mat-dialog-content>
  <p> After completing his service in the Navy, Jake found himself struggling to adjust to civilian life. He moved to a
    new city and started a new relationship, but also faced the challenge of finding a new career. Jake shared the news
    of leaving the Navy on social media, but soon regretted it when people spread false rumors that he was dishonorably
    discharged. He also received hurtful comments and faced the risk of being targeted by online scammers. Due to his
    military background, Jake found it hard to maintain discipline in civilian life and struggled to adapt to a new
    routine.
    To overcome these challenges, Jake turned off the Facebook comments and joined local groups to make new friends. He
    also worked on learning new skills for his desired job and reached out to charities like the Career Transition
    Partnership (CTP) and RNRM Charity for guidance. Additionally, he managed his job alerts on LinkedIn to select how
    often he'd like to receive notifications and how he'd like to be notified. With determination and hard work, Jake
    was eventually able to secure a job that matched his skills and experience, successfully transitioning into civilian
    life</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="margin:18px">Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
</div>