<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="toolbar" role="banner">
  <h1 class='header' style="font-weight: bold;
  padding-top: 26px;"> Risk Playground </h1>
</div>
<app-home (showMain)="openRisk($event)" *ngIf="startJourney"></app-home>
<div *ngIf="!startJourney">
  <mat-card class="example-card">
    <mat-card-header class="mat-header mb-5">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <!-- <mat-card-title>
        <h1>Risk Playground </h1>
      </mat-card-title> -->
      <div (click)="refresh()">
        <i class="refresh-icon fa fa-refresh" aria-hidden="true"></i>
      </div>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <div class="container-fluid">
        <div class="leftmenu row">

          <div class="example-container col-*">
            <h2 style="color: #000; ; font-size:18px">Risk Classification</h2>
            <!-- Risk by Domain -->

            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    Risk By Domain
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Financial Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Financial Risk-(FR)
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- </mat-expansion-panel> -->
                  <div cdkDropList [cdkDropListData]="keys" class="example-list" (cdkDropListDropped)="drop($event)"
                    style="overflow-y: auto;
                height: 300px;" [cdkDropListEnterPredicate]="noReturnPredicate">
                    <div class="example-box" *ngFor="let item of keys" cdkDrag>{{item}}</div>
                  </div>
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Financial Risk tab ends-->
                <!--Personal Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Personal Risk-(PR)
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <div cdkDropList [cdkDropListData]="securitys" class="example-list"
                    (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                  height: 300px;">
                    <div class="example-box" *ngFor="let item of securitys" cdkDrag>{{item}}</div>
                  </div>
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Personal Risk tab ends-->
                <!--Cyber security Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      CyberSecurity Risk -(CsR)
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <div cdkDropList [cdkDropListData]="cyber" class="example-list" (cdkDropListDropped)="drop($event)"
                    [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                  height: 300px;">
                    <div class="example-box" *ngFor="let item of cyber" cdkDrag>{{item}}</div>
                  </div>
                  <!-- </div> -->

                </mat-expansion-panel>
                <!--Cyber security risk ends-->
              </mat-expansion-panel>
            </mat-accordion>


            <!--Risk By Controllability-->
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    Risk By Controllability
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Financial Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Controllable
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- </mat-expansion-panel> -->
                  <!-- <div cdkDropList [cdkDropListData]="keys" class="example-list" (cdkDropListDropped)="drop($event)"
                  style="overflow-y: auto;
                height: 300px;" [cdkDropListEnterPredicate]="noReturnPredicate">
                  <div class="example-box" *ngFor="let item of keys" cdkDrag>{{item}}</div>
                </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Financial Risk tab ends-->
                <!--Personal Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Non Controllable
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <!-- <div cdkDropList [cdkDropListData]="securitys" class="example-list" (cdkDropListDropped)="drop($event)"
                  [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                  height: 300px;">
                  <div class="example-box" *ngFor="let item of securitys" cdkDrag>{{item}}</div>
                </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Personal Risk tab ends-->
                <!--Cyber security Risk tab starts-->

                <!--Cyber security risk ends-->
              </mat-expansion-panel>
            </mat-accordion> <!--Risk By Life transition status-->
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    Risk By Life Transition Status
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Financial Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Anticipation
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- </mat-expansion-panel> -->
                  <!-- <div cdkDropList [cdkDropListData]="keys" class="example-list" (cdkDropListDropped)="drop($event)"
                style="overflow-y: auto;
              height: 300px;" [cdkDropListEnterPredicate]="noReturnPredicate">
                <div class="example-box" *ngFor="let item of keys" cdkDrag>{{item}}</div>
              </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Financial Risk tab ends-->
                <!--Personal Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Information Sharing
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <!-- <div cdkDropList [cdkDropListData]="securitys" class="example-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                height: 300px;">
                <div class="example-box" *ngFor="let item of securitys" cdkDrag>{{item}}</div>
              </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Personal Risk tab ends-->
                <!--Cyber security Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      New Normal
                    </mat-panel-title>

                  </mat-expansion-panel-header>
                  <!-- 
              <div cdkDropList [cdkDropListData]="cyber" class="example-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                height: 300px;">
                <div class="example-box" *ngFor="let item of cyber" cdkDrag>{{item}}</div>
              </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Cyber security risk ends-->
              </mat-expansion-panel>
            </mat-accordion>



            <!--Last Risk-->
            <!--Risk By Controllability-->
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    Risk By Controllability
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Financial Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Controllable
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- </mat-expansion-panel> -->
                  <!-- <div cdkDropList [cdkDropListData]="keys" class="example-list" (cdkDropListDropped)="drop($event)"
                  style="overflow-y: auto;
                height: 300px;" [cdkDropListEnterPredicate]="noReturnPredicate">
                  <div class="example-box" *ngFor="let item of keys" cdkDrag>{{item}}</div>
                </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Financial Risk tab ends-->
                <!--Personal Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Non Controllable
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <!-- <div cdkDropList [cdkDropListData]="securitys" class="example-list" (cdkDropListDropped)="drop($event)"
                  [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                  height: 300px;">
                  <div class="example-box" *ngFor="let item of securitys" cdkDrag>{{item}}</div>
                </div> -->
                  <!-- </div> -->
                </mat-expansion-panel>
                <!--Personal Risk tab ends-->
                <!--Cyber security Risk tab starts-->

                <!--Cyber security risk ends-->
              </mat-expansion-panel>
            </mat-accordion> <!--Risk By Life transition status-->
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    Risk By Severity of Outcome
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Financial Risk tab starts-->
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      High Severe
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="risk-header">
                      Low Severe
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                </mat-expansion-panel>
              </mat-expansion-panel>
            </mat-accordion>


            <!-- second Risk -->
            <!-- <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    Peronal Risk-(PR)
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div cdkDropList [cdkDropListData]="securitys" class="example-list" (cdkDropListDropped)="drop($event)"
                  [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                  height: 300px;">
                  <div class="example-box" *ngFor="let item of securitys" cdkDrag>{{item}}</div>
                </div>
              </mat-expansion-panel>
            </mat-accordion> -->
            <!-- Third RIsk -->

            <!-- <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header>
                  <mat-panel-title class="risk-header">
                    CyberSecurity Risk -(CsR)
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div cdkDropList [cdkDropListData]="cyber" class="example-list" (cdkDropListDropped)="drop($event)"
                  [cdkDropListEnterPredicate]="noReturnPredicate" style="overflow-y: auto;
                  height: 300px;">
                  <div class="example-box" *ngFor="let item of cyber" cdkDrag>{{item}}</div>
                </div>
              </mat-expansion-panel>
            </mat-accordion> -->
            <!--Third risk end here-->


            <div class="risk-severity">
              <div class="row mb-2">
                <div class="col-*">Type of Risk :
                </div>
                <div class="col-*"
                  [ngClass]='severity < 40 ? "bg-success": severity >40 && severity < 70? "bg-warning":"bg-danger"'>
                  {{severityMsg}}</div>
              </div>
              <div class="row">
                <div class="col-*">Severity of Risk :
                </div>
                <div class="col-*"> {{severity < 40 ? "Low": severity >40 && severity < 70? "Medium":"High"}}</div>
              </div>
            </div>
          </div>

          <div class="chat-container col-*">
            <p class="chat-box-support" style="display:none;">An opportunity to explore possible risks during life transitions, first person
              accounts and experiences, and risk mitigating strategies/tools in a fun engaging way that allows for user
              input/interaction.</p>
            <div>
              <div><app-help-support (riskDetail)=getRisk($event)></app-help-support></div>
              <div><app-alert-component *ngIf="openStory"  [data]=true></app-alert-component></div>
              <h1 style="color:#000 ; font-size:18px;font-weight: bold;">Risk Playground Support</h1>
              <!-- <div> -->
              <div class="row" cdkDropList [cdkDropListData]="done" class="chat-list"
                (cdkDropListDropped)="showchat($event)">
                <div class="chat-box col-sm-6 message" *ngFor="let item of messages" cdkDrag [ngClass]="item.type">
                  <mat-icon  class="col-*" [ngClass]="item.type == 'user' ? 'user_icon' : 'client_icon'"
                    aria-hidden="false" aria-label="Example face icon" fontIcon="face"></mat-icon>{{item.message}}
                    
                </div>
                <div class="chat-bubble" *ngIf="showtyping">
                  <div class="typing">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
                  </div>
              </div>
            <!-- </div> -->
            <!-- <form id="helpdesk-popup-footer" [formGroup]="chatForm">
              <input
                formControlName="message"
                type="text"
                id="helpdesk-popup-input"
                placeholder="Type your message here..."
              />
              <button
                id="helpdesk-popup-submit-button"
                [disabled]="!chatForm.valid"
                (click)="sendMessage()"
              >
                Send
              </button>
            </form> -->
            </div>
            <app-progress-bar [risk_severity]="severity"></app-progress-bar>
          </div>
          <!-- <div class="example-container col-md-4">
        <h2 style="color:#000 ; font-size:18px">Key Learning Points Risks</h2>
        <div cdkDropList [cdkDropListData]="test" class="example-list" (cdkDropListDropped)="drop($event)" 
          [cdkDropListEnterPredicate]="noReturnPredicate">
          <div class="example-box" *ngFor="let item of test" cdkDrag>{{item}}</div>
        </div>
      </div> -->
          <div class="col-*">
            <app-klp [risk_kpl]="klpList"></app-klp>

          </div>
        </div>

      </div>

    </mat-card-content>

    <!-- <mat-progress-bar mode="determinate" value=50></mat-progress-bar> -->
  </mat-card>

</div>