<div id="helpdesk">
  <div id="helpdesk-popup-header" (click)="openSupportPopup()">
    Create Persona/Avatar
  </div>
  <div id="helpdesk-popup" [style.display]="isOpen ? 'block' : 'none'">
    <div id="helpdesk-popup-body">
      <div class="messages" #scrollMe>
        <div *ngFor="let message of messages;let i=index" class="message">
          <div [class]="message.type" [ngClass]="{'selectedAnswer': flipped[i] && message.type=== 'user'}"
            (click)="!flipped[i] ? personaAnswer($event,message.type,i): '' ">
            {{ message.message }}
          </div>
        </div>
        <div *ngIf="loading" class="message" style="width: 100%; display: block">
          <div [class]="'client'">...</div>
        </div>
      </div>
    </div>
  </div>
</div>