@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#helpdesk {
  // font-family: "Roboto", sans-serif;
width:70%;
  // height:50vh;
  // border: solid 1px #ccc;
  // border-radius: 14px;
  // max-height: 51vh;
  //width: 18%;
 // float: right;
  margin-right: 20px;

  #helpdesk-popup-header {
  
    // font-size: 15px;
    // padding: 10px;
    // border: 1px solid;
    // border-radius: 6px;
    // font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    font-size: x-large;



    #helpdesk-popup-close-button {
      float: right;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }
  }

  #helpdesk-popup-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #042346;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    // z-index: 1000;
  }

  #helpdesk-popup {
    position: relative;
    top: 9px;
    // bottom: 40px;
    // left:50%;
    // right: 20px;
    // width: 400px;
    height: 80vh;
    max-height: 70vh;
    // max-height:451px;
    // background-color: white;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    // z-index: 1000;
    // display: none;
    // overflow:auto;
    // shewani commented
    // #helpdesk-popup-header {
    //   background-color:#042346;
    //   color: white;
    //   font-size: 18px;
    //   padding: 10px;
    //   border-top-left-radius: 5px;
    //   border-top-right-radius: 5px;
    //   #helpdesk-popup-close-button {
    //     float: right;
    //     border: none;
    //     background-color: transparent;
    //     color: #fff;
    //     font-size: 14px;
    //     cursor: pointer;
    //   }
    // }
    z-index: 99;

    #helpdesk-popup-body {
      background: cornflowerblue;
     // background: cadetblue;
      height: calc(100% - 10px);
      padding: 10px;
      overflow-y: auto;
      border: solid 1px #ccc;
      border-radius: 14px;
      // max-height: 51vh;
    }

    #helpdesk-popup-footer {
      // background-color: #333;
      color: white;
      font-size: 14px;
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      #helpdesk-popup-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px 5px 0 0;
        box-sizing: border-box;
        font-size: 14px;
      }

      #helpdesk-popup-submit-button {
        width: 100%;
        padding: 10px;
        background-color: #2ca1da;
        color: #fff;
        border: none;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
        font-size: 14px;
      }
    }

    .selectedAnswer {
      padding-top: calc(2em - 2px);
      background: darkslategray;
    //  background-color: yellow !important;
      pointer-events: none;
      margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background-image: linear-gradient(to top, #f4f5f5, #dfdddd);
    }

    .disableList {
      display: none !important;
    }

    .messages {
      // height: 100%;
      overflow: auto;

      .message {
        font-family: 'ABCDiatype';
        cursor: pointer;
        display: flow-root;
        width: 100%;

        .client {
        //  background-color: #333;
          color: white;
          padding: 1px;
          border-radius: 5px;
          margin-bottom: 5px;
          display: inline-block;
          max-width: 100%;
        }

        .user {
          border: 0.5px solid #333;
          background-color: #fff;
          color: #333;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          display: inline-block;
          max-width: 80%;
          text-align: right;
          float: right;
          //  animation-name: example;
        }

        @keyframes example {
          from {
            left: 0px;
            background-color: yellow;
          }

          to {
            left: 200px;
          }
        }
      }
    }
  }
}

.my-centered-dialog {
  margin: auto !important;
}
