
<div class="d-flex flex-column flex-root " >
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

            <!--begin::Container-->
            <div class="container fw-center" id="kt_docs_content_container">
                <!--begin::Card-->
                <div class="card mb-2">
                    <!--begin::Card Body-->
                    <div class="card-body fs-6 text-gray-700">
                        <!--begin::Section-->
                        <div class="">
                            <!--begin::Block-->
                            <div class="text-center mb-3">
                                <h1 class="fs-2tx fw-bolder mb-8">
                                    Welcome to Risk Playground
                                </h1>
                                <div class="fw-bold fs-3 text-gray-500 mb-5">
                                    An opportunity to explore possible risks during life transitions, first person
                                    accounts and experiences, and risk mitigating strategies/tools in a fun engaging
                                    way that allows for user input/interaction.

                                </div>
                            </div>
                            <!--end::Block-->


                            <!--begin::Row-->
                            <div class="row g-0">
                                <!--begin::Col-->
                                <div class="col-md-6 mb-10" style="text-align: center;">
                                    <div class="bg-light bg-opacity-50 rounded-3 mb-3">
                                        <div class="" style="margin: auto;">
                                            <!-- <img src="assets/images/broken-heart-symbol-icon.png" /> -->
                                            <div class="logo1"></div>

                                        </div>
                                        <h4 class="mb-2">Relationship Breakdown</h4>
                                        <a (click)="open()" class="btn btn-sm btn-primary">Yes</a>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-10" style="text-align: center;">
                                    <div class="bg-light bg-opacity-50 rounded-3 p-10 mx-md-1">
                                        <div class="" style="margin: auto;">
                                            <!--begin::Svg Icon | path: icons/duotune/coding/cod001.svg-->
                                            <!-- <img src="assets/images/leaving-armed-force.png" /> -->
                                            <div class="logo2"></div>

                                            <!--end::Svg Icon-->
                                        </div>
                                        <h4 class="mb-2">Leaving Armed Force</h4>
                                        <a (click)="open()" class="btn btn-sm btn-primary">Yes</a>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-10" style="text-align: center;">
                                    <div class="bg-light bg-opacity-50 rounded-3 mb-3">
                                        <div class="" style="margin: auto;">
                                            <!--begin::Svg Icon | path: icons/duotune/coding/cod001.svg-->
                                            <!-- <img src="assets/images/serious-illnesss.png" /> -->
                                            <div class="logo3"></div>

                                            <!--end::Svg Icon-->
                                        </div>
                                        <h4 class="mb-5">Serious Illness</h4>
                                        <a (click)="open()" class="btn btn-sm btn-primary">Yes</a>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-10" style="text-align: center;">
                                    <div class="bg-light bg-opacity-50 rounded-3 mb-3">
                                        <div class="" style="margin: auto;">
                                            <!--begin::Svg Icon | path: icons/duotune/coding/cod001.svg-->
                                            <div class="logo4"></div>

                                            <!-- <img src="assets/images/LGBTQ.png" /> -->
                                            <!--end::Svg Icon-->
                                        </div>
                                        <h4 class="mb-5">LGBTQ+</h4>
                                        <a (click)="open()" class="btn btn-sm btn-primary">Yes</a>
                                    </div>
                                </div>


                            </div>
                            <!--end::Row-->




                        </div>
                        <!--end::Section-->
                    </div>
                    <!--end::Card Body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->

        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>