.fw-center{
    width:100%;
    margin:10% 34%;
}
.logo1{
 
    width:100%;
    height:40px;
    background: url('../../assets/images/broken-heart-symbol-icon.png') no-repeat;
  }
  .logo2{
   
    width:100%;
    height:40px;
    background: url('../../assets/images/leaving-armed-force.png') no-repeat;
  }
  .logo3{
   
    width:100%;
    height:40px;
    background: url('../../assets/images/serious-illnesss.png') no-repeat;
  }
  .logo4{
   
    width:100%;
    height:40px;
    background: url('../../assets/images/LGBTQ.png') no-repeat;
  }
